body {
  background: #3B0B0B;
  font-family: Arial, San-Serif;
  color: #DDDDDD;
}

a {
  color: #DF0101;
}

.h1 {
  font-size: 42px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 16px;
}
